body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.inbox {
  max-height: 200px
}

// private messages
.pm-preview {
  cursor:pointer
}
.unread {
  color: #222;
  background-color: #F3F3F3;
  font-weight: bold;
}

// notifications
li.notification {
    &.info {
        background-color: #ffcad2;
    }
  }

.row-no-margin-left {
   margin-right: 0px;
 }

.editable, a.editable:hover {
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}

span.tooltipster-icon {
  color: #fff;
  margin-left: 4px;
  background: #0078c9;
  border: 3px solid #0078c9;
  width: 3em;
  height: 3em;
  padding: 0.7em 0 0;
  margin: -3em 0 0 7em;
}

.tooltipstered {
  display: block;
  border-radius: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  float: left;
}

.pull-right :hover {
  cursor: pointer;
  color: #0078c9;
  background-color: white;
}

// attention
.img-hover :hover, .img-hover :focus {
  color: #23527c;
  text-decoration: underline;
}

.added-margin {
  margin-top: 10px;
}

/*.example-enter {*/
  /*opacity: 0.01;*/
  /*transition: opacity .5s ease-in;*/
/*}*/

/*.example-enter.example-enter-active {*/
  /*opacity: 1;*/
/*}*/

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.icon {
  font-size: 1.5em;
  color:grey;
  cursor:pointer;
}

.icon:hover {
  color: #a94442;
  /*opacity:0.4;*/
}

.verticalAlign {
  vertical-align: middle
}

.custom-row-card {
  float: left;
  width: 23%;
  margin-bottom: 2rem;
  margin-right: 2px;
  border-radius: 10px;
  border: 1px solid rgba(225, 119, 119, 0.42);
  padding: 10px;
}

.custom-row-card .name {
  position: relative;
}

.text-primary-light {
  color: #D1C4E9;
}

.custom-row-card .name img {
  position: absolute;
  top: 3px;
  right: 25px;
}

.bg-img {
  background:url('http://i1028.photobucket.com/albums/y344/Chaunceyan/o-HOLDING-HANDS-facebook_zpsnfxmdmcu.jpg')no-repeat;
  background-size: 100%, 100%;
  display:block;
  padding:0;
}

.customized-btn {
    width: 8%;
    height: 30px;
    margin-top: 44%;
    margin-left: 46%;
    margin-right: 46%;
    margin-bottom: 5%;
}


